/* ====================================================== */
/* main_style.css by Abel van Beek - Candidate number 143 */
/* ====================================================== */

/*
 * Struggles
 * - .html#iso#briefing not possible
 * 		- Finding different solution: !important and not firing when something does not apply: didn't work either
 *		- 'Counter' cannot be used in calc, otherwise I wouldve made a grid and scroll around through that grid exposing different articles
 * - Expose photo checkbox
 *		- <label><input type=checkbox name=expose_photo class="expose_photo">Expose Photo</label> so one doesn't need ID, but then
 *		  input cannot target the articles.
 *		- <input type="checkbox" name="expose_photo" id="expose_photo">
 *		  <label for="expose_photo">Expose Photo</label> 
 *		  But now they all need a unique ID.
 * - Changing articles
 *		- Have them moving in from the side, however, target immediately shows it, even though overflow is hidden: if the target is outside the screen
 *		  the browser will ignore everything and go outside of the set screen.
 */

/* 
 * CSS Template:
 *	Display
 *	Position
 *	Width/Height
 *  Other
 */

/* 
 *
 * VARIABLES
 *
 */
 
:root{
	/*--variable_name: value;*/

	/* Text variables */
	--text_size: calc(1.2 * (1vw + 1vh));
	--title_size: calc(2.5 * var(--text_size));
	--subtitle_size: calc(1.5 * var(--text_size));
	--icon_size: calc(1.5 * var(--text_size));

	/* Color variables */
	--accent_color: #7c4700;
	--background_color: #1c1008;
	--foreground_color: #f1eae8;

	--shade: 124, 70, 0;
	--shade_hover: 0.5;
	--shade_focus: 0.625;
	--shade_active: 0.75;
	--shade_highlight: 0.75;
	--shade_visited: 0.35;

	/* Layout variables */
	--article_height: 100vh;
	--nav_width: calc(6vw + 6vh);
	--scrollbar_width: calc(0.35vw + 0.35vh);

	--between_padding_small: calc(0.5vw + 0.5vh);
	--between_padding_large: calc(4vw + 4vh);

	--title_pos: calc(var(--nav_width) - var(--title_size)); /* For H1 and H2's */

	--total_icon_size: calc(var(--icon_size) + var(--between_padding_small) + var(--text_size)); /* Height excluding padding */
	--icon_padding_vertical: calc((var(--nav_width) - var(--total_icon_size)) / 2);
	--icon_letter_spacing: -1px;

	--multi_article_offset: calc(1.5 * var(--nav_width));

	--side_button_y_position: 50%;

	/* Time variables */
	--transition_duration: 0.5s;

	/* Object variables
	   Sadly, the unicode icons cannot be made into variables. */
}

/*
 *
 * FONTS
 *
 */

/*!
 * Font Awesome Free 5.5.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
 @font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/fa/fa-solid-900.eot");
	src: url("../fonts/fa/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa/fa-solid-900.woff2") format("woff2"), url("../fonts/fa/fa-solid-900.woff") format("woff"), url("../fonts/fa/fa-solid-900.ttf") format("truetype"), url("../fonts/fa/fa-solid-900.svg#fontawesome") format("svg"); 
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 23, 2018 */
@font-face {
    font-family: 'Moms Typewriter';
    src: url('../fonts/mt/momt___-webfont.eot');
    src: url('../fonts/mt/momt___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mt/momt___-webfont.woff2') format('woff2'),
         url('../fonts/mt/momt___-webfont.woff') format('woff'),
         url('../fonts/mt/momt___-webfont.ttf') format('truetype'),
         url('../fonts/mt/momt___-webfont.svg#momstypewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 25, 2018 */
@font-face {
    font-family: 'Titillium';
    src: url('../fonts/tt/titillium-regular-webfont.eot');
    src: url('../fonts/tt/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/tt/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/tt/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/tt/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 
 *
 * BASIC STYLE ELEMENTS
 *
 */

::-webkit-scrollbar {
	width: var(--scrollbar_width);
	background-color: var(--background_color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent_color);
}

* {
	margin: 0px; padding: 0px;

	font-family: 'Titillium', sans-serif;
	font-size: var(--text_size);
	color: var(--foreground_color);
}

html {
	background-color: var(--background_color); /* Otherwise the fade transition between articles has a bright white flash in the middle. */
	scroll-behavior: smooth; /* Browser support is not great for this, but the site still works fine without of course */
}

html, body {
	overflow-x: hidden;
}

h1, h2, body header > a /* = h1 */ {
	top: var(--title_pos); left: var(--nav_width);

	font-size: var(--title_size);
	font-family: 'Moms Typewriter', monospace;
}

h3 {
	font-size: var(--subtitle_size);
}

a {
	text-decoration: none;
	color: unset;
}

button {
	background: none;
	border: none;
}

/* 
 *
 * NAVIGATION BAR
 *
 */

nav {
	position: absolute; bottom: 0px;
	z-index: 1;

	height: var(--nav_width); width: 100%;
}

nav ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, var(--nav_width));

	align-content: end;
	justify-content: center;

	list-style-type: none;
}

nav ul li a, body #buttons button {
	display: block;

	text-align: center;
	padding-top: var(--icon_padding_vertical); margin-top: calc(-1 * var(--icon_padding_vertical));

	width: var(--nav_width); height: calc(var(--nav_width) - var(--icon_padding_vertical));
	letter-spacing: var(--icon_letter_spacing);

	transition: background-color var(--transition_duration) ease;
}

nav ul li a::before, h2::before, body #buttons button::before { /* Picture for the icons */
	display: block;

	font-family: 'Font Awesome 5 Free'; 
	font-weight: 900; 
	font-size: var(--icon_size);
}

nav ul li a::before  { padding-bottom: var(--between_padding_small); }
nav ul li a:hover    { background-color: rgba(var(--shade), var(--shade_hover)); }
nav ul li a:active   { background-color: rgba(var(--shade), var(--shade_active)); }
nav ul li a:focus    { background-color: rgba(var(--shade), var(--shade_focus)); }
/* Visited first, so that, if highlight is available, that color is applied. */
nav ul li a.visited  { background-color: rgba(var(--shade), var(--shade_visited)); }
nav ul li a.highlight{ background-color: rgba(var(--shade), var(--shade_highlight)); }

body .background { /* Backgrounds */
	position: absolute;
	top: 0px; left: 0px;
	z-index: -1;

	width: 100%; height: 100%;

	content: '';
	object-fit: cover;
	object-position: center;

	filter: brightness(30%);
	transition: filter var(--transition_duration) ease;
}

body header, body main #container > section, body footer {
	border-bottom: calc(var(--scrollbar_width) - 1px) solid var(--accent_color); /* -1px to hide this border behind the horizontal scrollbar if applicable */
	box-sizing: border-box;
}

/*
 *
 * EXPOSE BACKGROUND/TOP/NEXT BUTTON
 *
 */

body input[name="toggle_photo"] {
	opacity: 0; /* Remove the checkbox itself, but keep it for the tab index by not using 'display: none;' */
}

body label, body #buttons button {
	position: absolute;
	top: var(--side_button_y_position); right: 0px;
	transform: translateY(-50%); /* Place the top of the three icons in the vertical center of the screen */
	z-index: 1;
	text-align: center;

	/* Hacky way to hide text, but keep ::after visible */
	font-size: 0px; letter-spacing: var(--icon_letter_spacing);
	width: var(--nav_width); height: calc(var(--nav_width) - var(--icon_padding_vertical));
	padding-top: var(--icon_padding_vertical); margin-top: calc(-1 * var(--icon_padding_vertical));

	cursor: pointer;
	user-select: none;

	visibility: hidden;

	transition: opacity var(--transition_duration) ease;
}

/* Show the label only on hover to give it a clean look. For screen reader this CSS created content
   is not a problem, because initially in the HTML the label says 'Toggle Photo', which speaks
   for itself and can be interpreted as both 'expose' and 'darken' in its respective context. */
body label:hover { visibility: visible; }
body #buttons button:hover { visibility: visible; }

body label::before, body #buttons button::before {
	display: block;

	text-align: center;
	padding-bottom: var(--between_padding_small);

	content: '\f03e';
	font-family: 'Font Awesome 5 Free'; 
	font-weight: 900; 
	font-size: var(--icon_size);

	visibility: visible; /* Always show the icon */
}

/* Adjust the text on the 'toggle_photo' button and change it when the checkbox is checked and thus the photo exposed */
body label::after { font-size: var(--text_size); 		 content: 'Expose'; }
body input[name="toggle_photo"]:checked + label::after { content: 'Darken'; }

body input[name="toggle_photo"]:checked ~ p,
body input[name="toggle_photo"]:checked ~ article h3,
body input[name="toggle_photo"]:checked ~ article p,
body input[name="toggle_photo"]:checked ~ article a {
	opacity: 0; /* Hide text when the photo is exposed */
}

body #container input[name="toggle_photo"]:checked ~ article .background,
body input[name="toggle_photo"]:checked 		   ~ .background {
	filter: brightness(100%); /* Expose the photo itself */
}

body input[name="toggle_photo"]:checked + label {
	background-color: rgba(var(--shade), var(--shade_active));

	visibility: visible; /* When the photo is exposed, show the label to make it clear how to hide the photo again */
}

body input[name="toggle_photo"]:focus ~ label { /* Make the text visible when highlighted with 'Tab' */ 
	outline: Highlight solid 1px;
	visibility: visible;
}

body #buttons button {
	position: fixed;
	z-index: 100;

	font-size: var(--text_size); /* Reset the text size from 0px to --text_size */
	padding-bottom: calc( 3.8 * var(--icon_padding_vertical));
}

body #buttons button:nth-of-type(1)::before { content: '\f102'; }
body #buttons button:nth-of-type(2)::before { content: '\f107'; }
body #buttons button:nth-of-type(1) { top: calc(var(--side_button_y_position) +     (var(--total_icon_size) + 2 * var(--icon_padding_vertical))); }
body #buttons button:nth-of-type(2) { top: calc(var(--side_button_y_position) + 2 * (var(--total_icon_size) + 2 * var(--icon_padding_vertical))); }

body label, body #buttons button:hover { background-color: rgba(var(--shade), var(--shade_hover)); } 

body #buttons button.hidden {
	display: none;
}

/* 
 *
 * HEADER
 *
 */

body header, body footer {
	width: 100%; height: var(--article_height);
}

body header h1 {
	padding-right: var(--nav_width);
}

body header > /* h1 */ a { /* Only applied to the direct child of header, otherwise also the a's inside the <nav> element would be targetted */
	position: relative;
}

body header p {
	position: relative;
	padding: var(--between_padding_large) var(--nav_width);

	pointer-events: none; /* Makes the text unclickable, but it remains selectable.	This ensures that the H1 behind it can be clicked */
}

body header nav#main_navigation ul li:nth-of-type(1) a::before { content: "\f5c0"; } 					/* ISO */
body header nav#main_navigation ul li:nth-of-type(2) a::before { content: "\f140"; } 					/* Aperture */
body header nav#main_navigation ul li:nth-of-type(3) a::before { content: "\f050"; } 					/* Shutter Speed */
body header nav#main_navigation ul li:nth-of-type(4) a::before { content: "\f05b"; } 					/* Focus */ 
body header nav#main_navigation ul li:nth-of-type(5) a::before { content: "\f2bd"; } 					/* Contact */

/*
 *
 * SECTIONS
 *
 */

body main #container > section {
	position: relative; /* Stacks the sections on top of eachother in regards to the width/height */

	width: 100%; height: var(--article_height); /* Make all the sections that are descendants of #container full screen */
}

/*
 *
 * ARTICLES
 *
 */

body article {
	position: absolute;
	top: 0px; left: 0px;
	opacity: 0; visibility: hidden;

	height: var(--article_height); width: 100%; /* Size of the articles */

	transition: opacity var(--transition_duration) ease; /* Make it seemlessly appear and disappear on 'expose photo' */
}

/* Unfortunately, to make the introduction appear when none of the other articles is selected, the introduction
   had to be put as last child of the article. I tried many different ways, but using pure CSS only, I always
   ran into some limitation of CSS. Now, after seeing every other element and noting that none of them has been selected
   it can be said that the introduction must be the article shown. */
body article:last-of-type, article:target { 
	opacity: 1; visibility: visible; /* Fade the introduction (last-of-type) and the optional targetted article into the screen */
}

body article:target ~ article:last-of-type { 
	opacity: 0; visibility: hidden; /* Hide the introduction immediately if there is any article selected */
}

/*
 *
 * MULTIPLE PARAGRAPHS PER ARTICLE
 *
 */

body div.multi_article {
	position: relative;

	width: 100%; height: var(--article_height);

	overflow-x: scroll; /* Enable horizontal scrolling within this <div> element */
}

body div.multi_article::-webkit-scrollbar {
    height: var(--scrollbar_width); /* Make the horizontal height equal to the vertical width */
}

body div.multi_article section {
	position: absolute;

	width: 100%; 
}

/* Perfect example where 'counter()' in 'calc()' would be extremely useful.
   For now, I will just repeat this with manual calculations. 
   Max number of articles is three, so that's how far I'll go. If there are 
   less, they others will not fire anyway, so it is okay. */
body div.multi_article section:nth-of-type(2) { left: calc(100% - (1 * var(--multi_article_offset))); }
body div.multi_article section:nth-of-type(3) { left: calc(200% - (2 * var(--multi_article_offset))); }

body div.multi_article section {
	top: 0px;
}

/*
 *
 * CONTENT: HEADINGS + PARAGRAPHS 
 *
 */
body h2::before { 
	display: block;

	position: absolute;
	left: calc(-1 * var(--nav_width)); top: calc((var(--title_size) - var(--icon_size))/2); 
	text-align: center;

	width: var(--nav_width);
}

body h2 {
	position: absolute;
	z-index: 1; /* Place the titel always above all the articles, this way there is no hickup when changing articles */
}

body main #container > section:nth-of-type(1) h2::before { content: '\f5c0'; } 							/* ISO */
body main #container > section:nth-of-type(2) h2::before { content: '\f140'; } 							/* Aperture */
body main #container > section:nth-of-type(3) h2::before { content: '\f050'; } 							/* Shutter Speed */
body main #container > section:nth-of-type(4) h2::before { content: '\f05b'; } 							/* Focus */
body footer 								  h2::before { content: '\f2bd'; } 							/* Contact */

body h3 {
	position: relative;
	padding-left: var(--nav_width); padding-top: calc(var(--nav_width) + var(--between_padding_large));
}

body p {
	padding: var(--between_padding_small) var(--nav_width);
}

/*
 *
 * ICONS
 *
 */

body main #container > section nav ul li:nth-of-type(1) a::before { content: "\f05a"; } 				/* Introduction */
body main #container > section nav ul li:nth-of-type(2) a::before { content: "\f02d"; } 				/* Definition */

/* ISO */
body main #container > section:nth-of-type(1) nav ul li:nth-of-type(3) a::before { content: "\f5c3"; }
body main #container > section:nth-of-type(1) nav ul li:nth-of-type(4) a::before { content: "\f5ba"; }
body main #container > section:nth-of-type(1) nav ul li:nth-of-type(5) a::before { content: "\f2a1"; }

/* Aperture */
body main #container > section:nth-of-type(2) nav ul li:nth-of-type(3) a::before { content: "\f0ad"; }
body main #container > section:nth-of-type(2) nav ul li:nth-of-type(4) a::before { content: "\f042"; }
body main #container > section:nth-of-type(2) nav ul li:nth-of-type(5) a::before { content: "\f2d2"; }

/* Shutter Speed */
body main #container > section:nth-of-type(3) nav ul li:nth-of-type(3) a::before { content: "\f0ad"; }
body main #container > section:nth-of-type(3) nav ul li:nth-of-type(4) a::before { content: "\f2dc"; }
body main #container > section:nth-of-type(3) nav ul li:nth-of-type(5) a::before { content: "\f773"; }

/* Focus */
body main #container > section:nth-of-type(4) nav ul li:nth-of-type(3) a::before { content: "\f546"; }
body main #container > section:nth-of-type(4) nav ul li:nth-of-type(4) a::before { content: "\f247"; }
body main #container > section:nth-of-type(4) nav ul li:nth-of-type(5) a::before { content: "\f550"; }

/*
 *
 * Footer
 *
 */

body footer { position: relative; }
body footer a { 
	padding: var(--between_padding_small) var(--nav_width); 

	text-decoration: underline;

	transition: color var(--transition_duration) ease;
}
body footer a:hover {
	color: var(--accent_color);
}

/* =========== */
/* End of file */
/* =========== */